body
{
    position:center;

}

#canvas
{
    position:center;
}

#restart
{
    color:white;
    border-radius: 7px;
    height: 43px;

}

h4
{
    background-color: grey;
    color:white;
    line-height: 2;
    margin: 0px;
}